:root {
  --color-text-fg: white;
  --color-text-bg: #242424;
  --color-h-fg: white;
  --color-h-before: #808080;
  --color-a-new: #5fd7ff;
  --color-a-visited: #af86ff;
  --color-header-bg: #303030;
  --color-footer-border: #999;
  --color-footer-fg: #d0d0d0;
}

@media (prefers-color-scheme: light) {
:root {
  --color-text-fg: black;
  --color-text-bg: white;
  --color-h-fg: black;
  --color-h-before: #808080;
  --color-a-new: #0000ee;
  --color-a-visited: #551a8b;
  --color-header-bg: #fafafa;
  --color-footer-border: black;
  --color-footer-fg: black;
}
}

html {
  font-family: sans-serif;
  background-color: var(--color-text-bg);
  color: var(--color-text-fg);
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

h3, h4, h5, h6 {
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-h-fg);
}

h1::before {
  content: '# ';
  color: var(--color-h-before);
}

h2::before {
  content: '## ';
  color: var(--color-h-before);
}

a {
  color: var(--color-a-new);
}

a:visited {
  color: var(--color-a-visited);
}

pre {
  max-width: 90ch;
  overflow: auto;
  margin: 0 auto;
}

#content {
  text-align: justify;
  text-justify: inter-word;
}

#content ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}

#content ul li {
  padding-left: 1em;
  text-indent: -1em;
}

#content ul li:before {
  content: "+";
  padding-right: 5px;
}

.center {
  margin: auto;
  max-width: 45rem;
  padding: 0.2em 0.5em;
}

#header {
  background-color: var(--color-header-bg);
  font-family: monospace, monospace;
  font-size: 1.1rem;
}

#footer {
  margin-top: 0.8em;
}

#header a,
#footer a {
  text-decoration: none;
  color: var(--color-a-new);
}

#breadcrumb,
#navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-transform: lowercase;
}

#header li,
#footer li {
  display: inline;
}

#breadcrumb li::after {
  content: '/';
}

#breadcrumb li:first-of-type::before {
  content: 'scott@www:';
}

#breadcrumb li:last-of-type::after {
  content: '$';
}

#navbar {
  margin-left: 0.5em;
}

#navbar li::after {
  content: '; ';
}

#navbar li::before {
  content: 'cd ';
}

#navbar li:last-of-type::after {
  content: '';
}

#footer {
  font-size: 0.8em;
  color: var(--color-footer-fg);
  border-top: 1px dashed var(--color-footer-border);
  text-align: center;
  padding: 0;
}

#footer ul {
  padding: 0;
}

#footer li::after {
  content: ' - ';
}

#footer li:last-of-type::after {
  content: '';
}

.list-date::after {
  content: ' : ';
}

.list-desc::before {
  content: ' : ';
}
